@import url('app.css');

.footer {
    background-color: var(--color-primario);
    text-align: center;
    padding: 1rem 0 0 0;
}

.footer_heading {
    color: white;
    font-size: 1.3rem;
}

.footer_texto {
    color: white;
}

.footer_navegacion {
    display: flex;
    flex-direction: column;
}

.footer_link {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
}

.footer_us {
    text-align: center;
    font-size: 1.3rem;
}

.footer_copyright {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.footer_img {
    width: 30%;
}

@media (min-width:768px) {
    .footer_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .footer_img {
        width: 50%;
    }
}